* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
  }
  
  header {
    background-color: #000000;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    color: #000000;
  }
  
  .container {
    max-width: 1200px;
    margin: 120px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input, select, button {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  ul li button:hover {
    background-color: #c82333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #000000;
    color: white;
  }
  
  #calendar {
    margin-top: 20px;
    margin-bottom: 5%;
  }
  
  @media (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
    }
  
    .container {
      margin-top: 150px;
    }
  }

ul#peopleList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul#peopleList li {
    background-color: #f5f5f5;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  ul#peopleList li div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  ul#peopleList select {
    padding: 4px 8px;
    font-size: 14px;
    margin-right: 10px;
  }
  
  ul#peopleList button {
    padding: 4px 8px;
    font-size: 14px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  ul#peopleList button:hover {
    background-color: #c9302c;
  }
  
  ul#peopleList .pessoa-info {
    flex-grow: 1;
    text-align: left;
  }
  